<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../assets/WIKIO(2).png" width="90" height="30" class="d-inline-block align-center" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <img src="../../assets/busquede.png" width="25" height="25" class="d-inline-block align-center" alt="">
          </button>
          <button class="btn btn-outline-success" type="button" [routerLink]="['/create']">Login</button>
          <button class="btn btn-outline-success" type="button" [routerLink]="['/create']">Crea tu cuenta</button>
        </form>
      </div>
    </nav>
  </div>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/clientes/list']">Clientes
          </a>
          <a class="nav-item nav-link" [routerLink]="['/cineastas/list']">Cineastas
          </a>
          <a class="nav-item nav-link" [routerLink]="['/cineastas/list']">Cortos</a>
          <a class="nav-item nav-link" [routerLink]="['/comentarios/list']">Comentarios</a>
          <a class="nav-item nav-link" [routerLink]="['/comentariosCrear']">CrearComentario</a>
        </div>
      </div>
    </nav>
  </div>
</div>